body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Montserrat', sans-serif !important;
}

.bg{
  background-color: #0f141d;
  height: 100%;
  width: 100%;
  position: fixed;
}
.btn-primary{
  background-color: #65D1EF !important;
  border-radius: 1px !important;
  border: 0px !important;
  color: #1a202c !important;
  width: 100% !important;
  font-weight: 600 !important;
  padding: 7px !important;
 }
 .btn-primary:hover{
  background-color: #39c2e8 !important;
  color: #1a202c !important;
 }
 .form-control, .form-select, #dropdown-basic{
     border-radius: 2px !important;
     padding: 10px 20px !important;
     color: #808080 !important;

    background-color: #1a202c !important;
    border-color: #1a202c !important;
    border-radius: 20px !important;
    text-align: center !important;

 }
 
 .form-control:focus {
     color: white !important;
     box-shadow: none !important;
 }
 
 .form-select:focus {
     box-shadow: none !important;
 }
 .form-check-input:focus {
  box-shadow: none !important;
}

 .card{
  background-color: transparent !important;
  --bs-card-border-color: 0px !important;
}
.card-header{
  padding: 10px 0 !important;
  font-weight: 600 !important;
  text-align: center !important;
}
.card-text{
  padding: 10px 0 !important;
  font-weight: 100 !important;
}
.form-check-input{
  background-color: transparent !important;
  border: 2px solid #2d3748 !important;
}
.form-check-inline {
  width: 100% !important;
}

#dropdown-basic{
  width: 100% !important;
}